In [1]:
# Dependencies and Setup
import psycopg2
import pandas as pd
from secrets_1 import host, database, user, password
# Connection parameters, yours will be different
param_dic = {
    "host"      : host,
    "database"  : database,
    "user"      : user,
    "password"  : password
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    print("Connection successful")
    return conn

In [2]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    housing_df = pd.DataFrame(tupples, columns=column_names)
    return housing_df

In [3]:
# Connect to the database
conn = connect(param_dic)
column_names = [
    "REF_DATE",
    "GEO",
    "price_indexes",
    "house_price"
]
# Execute the "SELECT *" query
housing_df = postgresql_to_dataframe(conn, 'select * from "Project4"."prd_house_sales_data" ', column_names)
housing_df

Connecting to the PostgreSQL database...
Connection successful

,REF_DATE,GEO,price_indexes,house_price
0,1981-01,Canada,Total (house and land),38.2
1,1981-01,Canada,House only,36.1
2,1981-01,Canada,Land only,40.6
3,1981-01,Atlantic Region,Total (house and land),
4,1981-01,Atlantic Region,House only,
...,...,...,...,...
61435,2023-08,"Vancouver, British Columbia",House only,127.6
61436,2023-08,"Vancouver, British Columbia",Land only,122.1
61437,2023-08,"Victoria, British Columbia",Total (house and land),120.7
61438,2023-08,"Victoria, British Columbia",House only,126.5
61439,2023-08,"Victoria, British Columbia",Land only,109.8

In [4]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61440 entries, 0 to 61439
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   REF_DATE       61440 non-null  object
 1   GEO            61440 non-null  object
 2   price_indexes  61440 non-null  object
 3   house_price    61440 non-null  object
dtypes: object(4)
memory usage: 1.9+ MB

## Exporting Cleaned Dataframe

In [34]:
housing_df.to_csv("Resources/house_sales_cleaned.csv")

# Cleaning Immigration Data

In [5]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    immigrant_df = pd.DataFrame(tupples, columns=column_names)
    return immigrant_df

In [6]:
# Connect to the database
conn = connect(param_dic)
column_names = [
    "REF_DATE",
    "GEO",
    'DGUID',
    'Citizenship (9)',
    'Age (8D)',
    'Gender (3)',
    'Statistics (3)',
    "Place of birth (290)",
    "Coordinate",
    "Immigrant status and period of immigration (11):2016 to 2021[10]"'Immigrant status and period of immigration (11):Total - Immigrant status and period of immigration[1]',
    'Symbol',
    'Immigrant status and period of immigration (11):Non-immigrants[2]',
    'Symbol.1',
    'Immigrant status and period of immigration (11):Immigrants[3]',
    'Symbol.2',
    'Immigrant status and period of immigration (11):Before 1980[4]',
    'Symbol.3',
    'Immigrant status and period of immigration (11):1980 to 1990[5]',
    'Symbol.4',
    'Immigrant status and period of immigration (11):1991 to 2000[6]',
    'Symbol.5',
    'Immigrant status and period of immigration (11):2001 to 2010[7]',
    'Symbol.6',
    'Immigrant status and period of immigration (11):2011 to 2021[8]',
    'Symbol.7',
    'Immigrant status and period of immigration (11):2011 to 2015[9]',
    'Symbol.8',
    'Immigrant status and period of immigration (11):2016 to 2021[10]',
    'Symbol.9',
    'Immigrant status and period of immigration (11):Non-permanent residents[11]',
    'Symbol.10'
]

# [
#     "REF_DATE",
#     "GEO",
#     "Place of birth (290)",
#     "Coordinate",
#     "Immigrant status and period of immigration (11):Before 1980[4]",
#     "Immigrant status and period of immigration (11):1980 to 1990[5]",
#     "Immigrant status and period of immigration (11):1991 to 2000[6]",
#     "Immigrant status and period of immigration (11):2001 to 2010[7]",
#     "Immigrant status and period of immigration (11):2011 to 2015[9]"
# ]

# Execute the "SELECT *" query
immigrant_df = postgresql_to_dataframe(conn, 'select * from "Project4"."immigrants" LIMIT 200 ', column_names)
immigrant_df

Connecting to the PostgreSQL database...
Connection successful

,REF_DATE,GEO,DGUID,Citizenship (9),Age (8D),Gender (3),Statistics (3),Place of birth (290),Coordinate,Immigrant status and period of immigration (11):2016 to 2021[10]Immigrant status and period of immigration (11):Total - Immigrant status and period of immigration[1],...,Immigrant status and period of immigration (11):2001 to 2010[7],Symbol.6,Immigrant status and period of immigration (11):2011 to 2021[8],Symbol.7,Immigrant status and period of immigration (11):2011 to 2015[9],Symbol.8,Immigrant status and period of immigration (11):2016 to 2021[10],Symbol.9,Immigrant status and period of immigration (11):Non-permanent residents[11],Symbol.10
0,2021,Manitoba,2021A000246,Canadian citizens by naturalization only,65 to 74 years,Women+,"95% confidence interval upper bound, Count\n",France,37.7.8.3.3.81,55,...,0,...,0,...,0,...,0,...,0,...
1,2021,Manitoba,2021A000246,Canadian citizens by naturalization only,65 to 74 years,Women+,"95% confidence interval upper bound, Count\n",Germany,37.7.8.3.3.82,787,...,0,...,0,...,0,...,0,...,0,...
2,2021,Manitoba,2021A000246,Canadian citizens by naturalization only,65 to 74 years,Women+,"95% confidence interval upper bound, Count\n",Liechtenstein,37.7.8.3.3.83,0,...,0,...,0,...,0,...,0,...,0,...
3,2021,Manitoba,2021A000246,Canadian citizens by naturalization only,65 to 74 years,Women+,"95% confidence interval upper bound, Count\n",Luxembourg,37.7.8.3.3.84,0,...,0,...,0,...,0,...,0,...,0,...
4,2021,Manitoba,2021A000246,Canadian citizens by naturalization only,65 to 74 years,Women+,"95% confidence interval upper bound, Count\n",Monaco,37.7.8.3.3.85,0,...,0,...,0,...,0,...,0,...,0,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2021,Manitoba,2021A000246,Canadian citizens by naturalization only,65 to 74 years,Women+,"95% confidence interval upper bound, Count\n",Northern Mariana Islands,37.7.8.3.3.273,0,...,0,...,0,...,0,...,0,...,0,...
196,2021,Manitoba,2021A000246,Canadian citizens by naturalization only,65 to 74 years,Women+,"95% confidence interval upper bound, Count\n",Palau,37.7.8.3.3.274,0,...,0,...,0,...,0,...,0,...,0,...
197,2021,Manitoba,2021A000246,Canadian citizens by naturalization only,65 to 74 years,Women+,"95% confidence interval upper bound, Count\n",Papua New Guinea,37.7.8.3.3.275,0,...,0,...,0,...,0,...,0,...,0,...
198,2021,Manitoba,2021A000246,Canadian citizens by naturalization only,65 to 74 years,Women+,"95% confidence interval upper bound, Count\n",Pitcairn,37.7.8.3.3.276,0,...,0,...,0,...,0,...,0,...,0,...
199,2021,Manitoba,2021A000246,Canadian citizens by naturalization only,65 to 74 years,Women+,"95% confidence interval upper bound, Count\n",Samoa,37.7.8.3.3.277,0,...,0,...,0,...,0,...,0,...,0,...

In [13]:
immigration_data = pd.read_csv('Resources/Immigration.csv')

In [14]:
immigration_data.head()

,REF_DATE,GEO,DGUID,Citizenship (9),Age (8D),Gender (3),Statistics (3),Place of birth (290),Coordinate,Immigrant status and period of immigration (11):Total - Immigrant status and period of immigration[1],...,Immigrant status and period of immigration (11):2001 to 2010[7],Symbol.6,Immigrant status and period of immigration (11):2011 to 2021[8],Symbol.7,Immigrant status and period of immigration (11):2011 to 2015[9],Symbol.8,Immigrant status and period of immigration (11):2016 to 2021[10],Symbol.9,Immigrant status and period of immigration (11):Non-permanent residents[11],Symbol.10
0,2021,Canada,2021A000011124,Total - Citizenship,Total - Age,Total - Gender,Count,Total – Place of birth,1.1.1.1.1.1,36328475,...,1930525,NaN,2454570,NaN,1126330,NaN,1328240,NaN,924850,NaN
1,2021,Canada,2021A000011124,Total - Citizenship,Total - Age,Total - Gender,Count,Inside Canada,1.1.1.1.1.2,26721880,...,195,NaN,490,NaN,115,NaN,375,NaN,0,NaN
2,2021,Canada,2021A000011124,Total - Citizenship,Total - Age,Total - Gender,Count,Newfoundland and Labrador,1.1.1.1.1.3,636150,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
3,2021,Canada,2021A000011124,Total - Citizenship,Total - Age,Total - Gender,Count,Prince Edward Island,1.1.1.1.1.4,140505,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
4,2021,Canada,2021A000011124,Total - Citizenship,Total - Age,Total - Gender,Count,Nova Scotia,1.1.1.1.1.5,911445,...,10,NaN,10,NaN,0,NaN,10,NaN,0,NaN

## Dropping Unnecessary Columns

In [15]:
immigration_df=immigration_data.drop(columns = ['Citizenship (9)', 'Age (8D)', 'Gender (3)', 'Statistics (3)', 'DGUID', 'Symbol', 'Symbol.1', 'Symbol.2', 'Symbol.3', 'Symbol.4', 'Symbol.5', 'Symbol.6', 'Symbol.7', 'Symbol.8', 'Symbol.9', 'Symbol.10',  'Immigrant status and period of immigration (11):Total - Immigrant status and period of immigration[1]',
'Immigrant status and period of immigration (11):Non-immigrants[2]', 'Immigrant status and period of immigration (11):Immigrants[3]', 'Immigrant status and period of immigration (11):Non-permanent residents[11]','Immigrant status and period of immigration (11):2011 to 2021[8]',])
immigration_df

,REF_DATE,GEO,Place of birth (290),Coordinate,Immigrant status and period of immigration (11):Before 1980[4],Immigrant status and period of immigration (11):1980 to 1990[5],Immigrant status and period of immigration (11):1991 to 2000[6],Immigrant status and period of immigration (11):2001 to 2010[7],Immigrant status and period of immigration (11):2011 to 2015[9],Immigrant status and period of immigration (11):2016 to 2021[10]
0,2021,Canada,Total – Place of birth,1.1.1.1.1.1,1540615,924320,1511480,1930525,1126330,1328240
1,2021,Canada,Inside Canada,1.1.1.1.1.2,1045,370,185,195,115,375
2,2021,Canada,Newfoundland and Labrador,1.1.1.1.1.3,35,20,0,0,0,0
3,2021,Canada,Prince Edward Island,1.1.1.1.1.4,10,0,0,0,0,0
4,2021,Canada,Nova Scotia,1.1.1.1.1.5,50,40,0,10,0,10
...,...,...,...,...,...,...,...,...,...,...
10711435,2021,Nunavut,Antarctica,57.9.8.3.3.286,0,0,0,0,0,0
10711436,2021,Nunavut,Bouvet Island,57.9.8.3.3.287,0,0,0,0,0,0
10711437,2021,Nunavut,French Southern Territories,57.9.8.3.3.288,0,0,0,0,0,0
10711438,2021,Nunavut,Heard Island and McDonald Islands,57.9.8.3.3.289,0,0,0,0,0,0
10711439,2021,Nunavut,Other,57.9.8.3.3.290,0,0,0,0,0,0

In [16]:
immigration_df.head()

,REF_DATE,GEO,Place of birth (290),Coordinate,Immigrant status and period of immigration (11):Before 1980[4],Immigrant status and period of immigration (11):1980 to 1990[5],Immigrant status and period of immigration (11):1991 to 2000[6],Immigrant status and period of immigration (11):2001 to 2010[7],Immigrant status and period of immigration (11):2011 to 2015[9],Immigrant status and period of immigration (11):2016 to 2021[10]
0,2021,Canada,Total – Place of birth,1.1.1.1.1.1,1540615,924320,1511480,1930525,1126330,1328240
1,2021,Canada,Inside Canada,1.1.1.1.1.2,1045,370,185,195,115,375
2,2021,Canada,Newfoundland and Labrador,1.1.1.1.1.3,35,20,0,0,0,0
3,2021,Canada,Prince Edward Island,1.1.1.1.1.4,10,0,0,0,0,0
4,2021,Canada,Nova Scotia,1.1.1.1.1.5,50,40,0,10,0,10

## Dropping Null Values

In [17]:
immigration_df.dropna(inplace=True)

In [18]:
immigration_df.head()

,REF_DATE,GEO,Place of birth (290),Coordinate,Immigrant status and period of immigration (11):Before 1980[4],Immigrant status and period of immigration (11):1980 to 1990[5],Immigrant status and period of immigration (11):1991 to 2000[6],Immigrant status and period of immigration (11):2001 to 2010[7],Immigrant status and period of immigration (11):2011 to 2015[9],Immigrant status and period of immigration (11):2016 to 2021[10]
0,2021,Canada,Total – Place of birth,1.1.1.1.1.1,1540615,924320,1511480,1930525,1126330,1328240
1,2021,Canada,Inside Canada,1.1.1.1.1.2,1045,370,185,195,115,375
2,2021,Canada,Newfoundland and Labrador,1.1.1.1.1.3,35,20,0,0,0,0
3,2021,Canada,Prince Edward Island,1.1.1.1.1.4,10,0,0,0,0,0
4,2021,Canada,Nova Scotia,1.1.1.1.1.5,50,40,0,10,0,10

In [19]:
column_names=immigration_df.columns
print(column_names)

Index(['REF_DATE', 'GEO', 'Place of birth (290)', 'Coordinate',
       'Immigrant status and period of immigration (11):Before 1980[4]',
       'Immigrant status and period of immigration (11):1980 to 1990[5]',
       'Immigrant status and period of immigration (11):1991 to 2000[6]',
       'Immigrant status and period of immigration (11):2001 to 2010[7]',
       'Immigrant status and period of immigration (11):2011 to 2015[9]',
       'Immigrant status and period of immigration (11):2016 to 2021[10]'],
      dtype='object')

In [20]:
immigration_df.isnull().count()

REF_DATE                                                            10711440
GEO                                                                 10711440
Place of birth (290)                                                10711440
Coordinate                                                          10711440
Immigrant status and period of immigration (11):Before 1980[4]      10711440
Immigrant status and period of immigration (11):1980 to 1990[5]     10711440
Immigrant status and period of immigration (11):1991 to 2000[6]     10711440
Immigrant status and period of immigration (11):2001 to 2010[7]     10711440
Immigrant status and period of immigration (11):2011 to 2015[9]     10711440
Immigrant status and period of immigration (11):2016 to 2021[10]    10711440
dtype: int64

In [21]:
immigration_df.to_csv('Resources/immigration_cleaned.csv')