In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from scipy import stats

In [17]:
# Read in the Immigration Data
immigration_df = pd.read_csv(r'C:\Users\e_pen\Desktop\Data Analytics\Project 4\prd_immigration.csv')
immigration = immigration_df['value']

house_sales_df = pd.read_csv(r'C:\Users\e_pen\Desktop\Data Analytics\Project 4\prd_house_sales_data.csv')
house_sales = house_sales_df['house_price']

In [18]:
immigration_df.head()

,index,REF_DATE,GEO,value,status_year
0,0,2021,"Abbotsford - Mission (CMA), B.C.",3378477,1980
1,1,2021,Alberta,49350279,1980
2,2,2021,"Barrie (CMA), Ont.",3960250,1980
3,3,2021,"Belleville - Quinte West (CMA), Ont.",1538001,1980
4,4,2021,"Brantford (CMA), Ont.",2680709,1980

In [19]:
house_sales_df.head()

  REF_DATE              GEO           price_indexes  house_price
0  1981-01           Canada  Total (house and land)         38.2
1  1981-01           Canada              House only         36.1
2  1981-01           Canada               Land only         40.6
3  1981-01  Atlantic Region  Total (house and land)          NaN
4  1981-01  Atlantic Region              House only          NaN

In [12]:
# Calculate measures of central tendancy
#mean_numpy = np.mean(immigration)
#print(f"The mean value of immigrants to Canada between 1990 and 2021 is {mean_numpy}")

The mean value of immigrants to Canada between 1990 and 2021 is 16190373.71

In [20]:
column_name = 'testing'

sample1 = immigration_df['value']
sample2 = house_sales_df['house_price']

# Perform the t-test
t_statistic, p_value = stats.ttest_ind(sample1, sample2)

# Interpret the results
if p_value < 0.05:
    print("There is a significant difference between the two samples.")
else:
    print("There is no significant difference between the two samples.")

There is no significant difference between the two samples.